body {
    font-family: "Lucida Grande", Helvetica, sans-serif;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

tr, td {
    border: 1px solid black;
}

.completed {
    text-decoration: wavy line-through;
}

.highlighted {
    background-color: yellow;
}
