@import model.LifelongGoal
@(topLevel: Seq[LifelongGoal])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Goals</title>
        <link href="/assets/stylesheets/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <table>
            <tbody>
            @for(g <- topLevel) {
                <tr>
                    <td>@g.name<br />@g.note</td>
                    <td>
                        <table>
                            <tbody>
                            @for(sg <- g.subGoals) {
                                <tr>
                                    <td>@sg.name<br />@sg.note</td>
                                    <td>
                                        <table>
                                            <tbody>
                                            @for(ssg <- sg.subGoals) {
                                                <tr>
                                                    <td>@ssg.name<br />@ssg.note</td>
                                                    <td>
                                                        <table>
                                                            <tbody>
                                                            @for(t <- ssg.tasks) {
                                                              @views.html.goalTask(t)
                                                            }
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
        </table>

    </body>
</html>
